[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/nginx"]
	path = puppet/modules/nginx
	url = https://github.com/jfryman/puppet-nginx
[submodule "puppet/modules/rbenv"]
	path = puppet/modules/rbenv
	url = https://github.com/alup/puppet-rbenv
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
[submodule "puppet/modules/nvm"]
	path = puppet/modules/nvm
	url = https://github.com/proletaryo/puppet-nvm_nodejs
